@page "/Film/{Id:int}"
@inject IMembershipService MembershipService

<h1 class="text-center">@Model.Title</h1>

<a class="btn btn-primary rounded-0 mb-1" href="/">
	<i class="oi oi-arrow-left"></i><span class="vertical-align"> Back to Dashboard</span>
</a>
<div class="row">
	<div class="col">
		<FilmStarter Film ="@Model"></FilmStarter>
		<FilmDetails Film="@Model"></FilmDetails>
		<SimilarFilmCard Film="@Model"></SimilarFilmCard>
	</div>
	<div class="col">
		<FilmPoster Film="@Model"></FilmPoster>
		</div>
</div>


@code {
	[Parameter] public int? Id { get; set; }
	public FilmDTO Model { get; set; } = new FilmDTO();

	protected override async Task OnInitializedAsync()
	{
		Model = await MembershipService.GetFilmAsync(Id);
	}
}
